html {
    background-color: rgb(252, 242, 236);
    color: rgb(102, 64, 64);
}

header {
    background-color: #88444A;
    padding: 10px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    list-style-type: none;
    font-size: 15px;
    font-weight: bolder;
    justify-content: space-between;
}

nav {
    display: none;
  }

h1 {
    color: white;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.5px;
}

header div {
  display: flex;
  align-items: center;
}

header img {
  width: 40px;
  height: 40px;
}

/*.containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
}*/

figure {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    margin: 0;
  }
  figure img{
    width: 100%;
    aspect-ratio: 15/13;
    object-fit: cover;
  }

  p {
    display: flex;
    justify-content: center;
  }

.material-symbols-outlined{
    color:#e6dbc8;
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 50px;
  }