h1 {
    color: white;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.5px;
  }
  
  header div {
  display: flex;
  align-items: center;
  }
  
  header img {
  width: 40px;
  height: 40px;
  }
  
  header {
      background-color: #88444A;
      padding: 10px;
  }
  
  nav>ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      list-style-type: none;
      font-size: 15px;
      font-weight: bolder;
      justify-content: space-between;
  }
  
  nav {
      display: none;
    }
  
    footer figure img {
      width: 40px;
      height: 40px;
    }

    .material-symbols-outlined{
        color:#e6dbc8;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 50px;
      }