* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-family: "Doto", sans-serif;
    text-align: center;
    background-color: rgb(252, 237, 239);
    color: rgb(123, 88, 93);
}

#panel {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 0px;
    align-content: center;
    color: white;
    font-weight: bold;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-up {
    transform: translateY(-70vh) rotateX(70deg);
}

button {
    margin: 30px;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(123, 88, 93);
    color: white;
    width: 150px;
    aspect-ratio: 1;
    --g:/33.334% 33.334% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
    mask: 100% 50% var(--g),75% 93.301% var(--g),25% 93.301% var(--g),0% 50% var(--g),25% 6.699% var(--g),75% 6.699% var(--g),radial-gradient(100% 100%,#000 28.868%,#0000 calc(28.868% + 1px));
}
