* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(102, 64, 64);
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.grid-item {
    background-color: rgb(249, 237, 222);
    min-height: 300px;
}

.grid-item.a{
    background-color: rgb(138, 97, 69);
}

.grid-item.b{
    background-color: rgb(152, 123, 103);
}

.grid-item.c{
    background-color: rgb(223, 152, 85);
}

.grid-item.d{
    background-color: rgb(239, 181, 139);
}

.grid-item.e{
    background-color: rgb(188, 170, 157);
    display: block;
    rotate: 8deg;
    box-shadow: 3px 12px 20px;
    border: 20px solid white;
}

.polaroid{
    box-shadow: 3px 12px 20px;
    border: 20px solid white;
    rotate: -6deg;
}

.polaroid2{
    box-shadow: 3px 12px 20px;
    border: 20px solid white;
    rotate: -12deg;
}

.polaroid3{
    box-shadow: 3px 12px 20px;
    border: 20px solid white;
    rotate: 10deg;
}